<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
</head>

<body>
    <div id="app">
        <el-form :inline="true" :model="specifier">
            <el-form-item v-for="(val, key) in schema" :prop="key" :label="val">
                <el-input v-model="specifier[key]" :placeholder="val" :disabled="connected">
            </el-form-item>
            <el-form-item>
                <el-button @click="connect()" type="success" :disabled="connected">建立连接</el-button>
                <el-button @click="disconnect()" type="danger" :disabled="!connected">断开连接</el-button>
            </el-form-item>
        </el-form>
    </div>
    <div id="editor"></div>
</body>

<script>
    var ws = null;
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    quill.on('text-change', (delta, oldDelta, source) => {
        if (source === 'user') {
            var dataToSend = {
                type: 'delta',
                payload: {
                    userid: vue.specifier.userid,
                    docid: vue.specifier.docid,
                    content: JSON.stringify(delta)
                }
            }
            if (ws !== null && ws.readyState != ws.CLOSED)
                ws.send(JSON.stringify(dataToSend));
        }
    })
    var vue = new Vue({
        el: '#app',
        data: () => {
            return {
                schema: {
                    host: '主机名',
                    port: '端口号',
                    userid: '用户ID',
                    docid: '文档ID'
                },
                specifier: {
                    host: 'www.liadrinz.cn',
                    port: '8080',
                    userid: '',
                    docid: ''
                },
                connected: false,
                failed: false
            }
        },
        methods: {
            connect: function() {
                try {
                    ws = new WebSocket(`ws://${this.specifier.host}:${this.specifier.port}/collaborate/${this.specifier.docid}/${this.specifier.userid}`);
                } catch (e) {
                    this.$message({
                        message: '请填写主机名和端口号',
                        type: 'error'
                    })
                    return;
                }
                ws.onopen = () => {
                    this.connected = true;
                    this.$message({
                        message: '连接成功',
                        type: 'success'
                    })
                    ws.send(JSON.stringify({
                        type: 'req',
                        payload: {
                            docid: vue.specifier.docid,
                            userid: vue.specifier.userid
                        }
                    }));
                }
                ws.onclose = () => {
                    this.connected = false;
                    this.$message({
                        message: '连接已中止',
                        type: 'warning'
                    })
                }
                ws.onmessage = (resp) => {
                    var packet = JSON.parse(resp.data);
                    if (packet.type === 'res') {
                        quill.setText('', source = 'server');
                        for (let delta of JSON.parse(packet.optional)) {
                            quill.updateContents(JSON.parse(delta.content).ops, source = 'server');
                        }
                    } else if (packet.type === 'mod') {
                        if (packet.payload.userid != vue.specifier.userid) {
                            var delta = JSON.parse(packet.payload.content);
                            quill.updateContents(delta, source = 'server');
                        }
                    }
                }
            },
            disconnect: function() {
                ws.close();
            }
        }
    })
</script>

</html>