<html>

<head>
    <meta charset='utf-8'>
    <title>DocManager</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    body {
        margin: 0px;
        overflow: hidden;
        padding-right: 0px !important;
    }

    .top {
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        /* box-shadow: 2px 30px 10px #888888; */
        border-bottom: 1px solid #cdcdcd;
    }

    .left {
        background-color: #f8f8f8;
        height: 100%;
        width: 100%;
        padding-top: 20px;
    }

    .main {
        background-color: #F5F5F5;
        height: 100%;
        border-left: 1px solid #cdcdcd;
        padding-top: 20px;
        overflow: auto;

        border: 1px solid rgba(0, 0, 0, 0);
        border-left: 1px solid #cdcdcd;
    }

    .el-header {
        padding: 0px;
        margin-bottom: 1px;
    }

    .el-main {
        padding: 0px;
    }

    .el-col {
        height: 100%;
        margin: 0px;
    }

    .pjname {
        color: #6D7275;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-top: 10px;
        margin-left: 30px;
        font-size: 30px;
        font-weight: 300;
    }

    .top-search {
        height: 100%;
        width: 100%;
        padding-top: 10px;
    }

    .headimg-min {
        padding: 10px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .leftitem {
        height: 40px;
        padding-left: 30px;
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
    }

    .leftitem:hover {
        height: 40px;
        padding-left: 30px;
        background-color: #f0eff5;
        border: 1px solid #f0eff5;
    }

    .leftitem p {
        margin-block-start: 10px;
        margin-block-end: 10px;
        font-size: 15px;
        color: #6D7275;

    }

    .liftul {
        list-style-type: none;
        padding-left: 0px;
    }

    .dd {

        height: 100%;
        border: 1px solid #f0eff5;
    }

    .main-top {
        border: 1px solid #000000;
        height: auto;
    }

    .btn-col {
        height: 50px;
    }

    .title-col {
        margin-top: 20px;
        height: 30px;
    }

    .title-col span {
        margin-left: 10px;
        font-size: 15px;
        color: #6D7275;
        padding-left: 20px;
        font-weight: 600;
    }

    .topbtn {
        background-color: #f8f8f8;
        border: 1px solid #cdcdcd;
        width: 100%;
        line-height: 0.6;
        border-radius: 0px;
        font-size: 15px;
        font-weight: bold;
    }

    .topbtn:hover {
        background-color: #f0eff5;
        border: 1px solid #cdcdcd;
        color: #606266;
        border-radius: 0px;
    }

    .topbtn:focus {
        background-color: #f0eff5;
        border: 1px solid #cdcdcd;
        color: #606266;
        border-radius: 0px;
    }

    .memberaddbtn {
        margin-left: 50px;
        width: 100px;
    }

    .creatbtn {
        background-color: #dddddd;
    }

    .main-col {

        height: 90%;
        width: 100%;
        overflow: auto;
        height: 83%;
    }

    .docitem {
        height: auto;
        padding: 0 20px;
        margin-bottom: 20px;

    }

    .docimg {
        height: 60px;
        width: 60px;
        border: 1px solid #F5F5F5;
    }

    .docitem-card {
        padding: 15px;
        border: 1px solid #DCDCDC;
    }

    .card-docname {
        padding: 0 15px;
        margin-bottom: 20px;
        height: auto;
    }

    .card-docname span {
        font-size: 15px;
        color: #6D7275;
        font-weight: bold;
    }

    .card-docinfo {
        height: auto;
    }

    .card-docinfo span {
        padding: 0 15px;
        font-size: 10px;
        color: #cdcdcd;
    }

    .root {
        margin: 0;
        padding: 0;
        outline: none;
        height: 100%;
    }

    .memberdialog {
        padding-top: 30px;
    }

    .memberlist-title {
        font-size: 15px;
        color: #6D7275;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .memberlist {
        border-top: 1px solid #cdcdcd;
        padding: 10px;
        height: 400px;
        overflow: auto;
    }

    .memberlist-item {
        padding: 10px;
        border-bottom: 1px solid #f8f8f8;
    }

    .memberlist-item-name {
        margin-top: 15px;
        padding-left: 20px;
    }

    .memberlist-item-name span {
        color: 6D7275;
        font-size: 10px;
        font: weight 500;
        color: #6D7275;
        font-size: 10px;
        font-weight: 500;
        margin-left: 60px;
    }

    .memberlist-item-name span:first-child {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        margin-left: 0px;
    }
    .main_root {
        overflow: hidden;
    }
    .userinfo_ul li{
        margin-top:10px;
  
        border-bottom: 1px solid #cdcdcd;
    }
    .userinfo_text{
        color: #6D7275;
        font-weight: 800;
        border-bottom: 1px solid #f8f8f8;
    }
    .logout_c{
        padding:10px;
        padding-left:130px;
        border-bottom: 1px solid #ffffff;
      

    }
    .logout_c:hover{
        background-color:#f8f8f8;

    }
</style>

<body>
    <div id="managerpage_root">
        <el-container class="root">
            <el-header class="head_root">
                <div class="top">
                    <el-row>
                        <el-col :span="8">
                            <h1 class="pjname">MonkeyDoc</h1>
                        </el-col>
                        <el-col :span="8">

                        </el-col>
                        <el-col :span="8" class="hidden-md-and-down">
                            <el-col :span="16">
                                <div class="top-search">
                                    <el-input placeholder="请输入内容" prefix-icon="el-icon-search" v-model="docsearchtext">
                                    <el-input placeholder="请输入内容" prefix-icon="el-icon-search" @input="searchDoc" v-model="searchDocinput" >
                                    </el-input>
                                </div>
                            </el-col>
                            <el-col span="8">
                                <div class="headimg-min">
                                    <el-popover placement="bottom" width="300" trigger="hover" v-model="visible">
                                        <el-row style="padding:10px; border-bottom:1px solid #cdcdcd">
                                            <el-col :span="8" style="height:auto">
                                                <el-image
                                                    style="height: 60px;width:60px;border:1px solid #cdcdcd;border-radius:30px;">
                                                </el-image>

                                            </el-col>
                                            <el-col :span="16" style="height:auto;padding-top:30px">

                                                <span style="font-size:20px;color:#6D7275;font-weight:bold;">用户</span>
                                                <span style="font-size:20px;color:#6D7275;font-weight:bold;">{{userinfo.username}}</span>
                                            </el-col>

                                        </el-row>
                                        <el-row>
                                            <el-col :span="24" style="height:auto;">
                                                <ul style="list-style-type: none;border:1px solid #cdcdcd;">
                                                    <li style="border:1px solid #cdcdcd;">dd</li>
                                                    <li style="border:1px solid #cdcdcd;">dd</li>
                                                    <li style="border:1px solid #cdcdcd;">dd</li>
                                                    <li style="border:1px solid #cdcdcd;">dd</li>
                                                <ul style="list-style-type: none;;padding-left:0px" class="userinfo_ul">
                                                    <li >
                                                         <span class ="userinfo_text">文档数量</span>
                                                         <el-progress :percentage="doclist.length/0.3" :format="format" style="padding:10px"></el-progress>  
                                                    </li>
                                                    <li >
                                                        <span class ="userinfo_text">回收站文档数量:<span>
                                                        <el-progress :percentage="recycleddoclist.length/0.5" :format="reformat" style="padding:10px"></el-progress>  
                                                    </li>
                                                
                                                    <li >
                                                       <span class ="userinfo_text">电话号码：<span>
                                                       <p> {{userinfo.usertel}}</p>
                                                    </li>
                                                    <li >
                                                        <span class ="userinfo_text">电子邮箱：<span><p>{{userinfo.useremail}}</p>
                                                    </li>
                                                    <li  class="logout_c" style="margin-top:0px;border-bottom: 0px solid #ffffff;" @click="logout">
                                                    
                                                        <span
                                                        style="color:red;
                                                        font-size: 20px;
                                                        font-weight: 800;
                                                        "
                                                        >注销<span>
                                                    </li>

                                                </ul>
                                            </el-col>
                                        </el-row>
                                        <el-image slot="reference" @click="visible = !visible"
                                            style="height: 40px;width:40px;border:1px solid #cdcdcd;"></el-image>

                                    </el-popover>
                                </div>
                            </el-col>

                        </el-col>
                    </el-row>
                </div>
            </el-header>
            <el-container>
                <el-aside width="200px" class="left_root">
                    <div class="left">
                        <ul class="liftul">
                            <li v-for="item in leftName" class="leftitem" @click="{{leftchose = item.value}}">


                                <p>
                                    <i :class="item.iconclass"></i>

                                    {{item.text}}
                                </p>

                            </li>
                        </ul>
                    </div>
                </el-aside>
                <el-main class="main_root">
                    <transition mode="out-in">
                        <div v-if="leftchose == '1'">
                            <div class="main">
                <el-main class="main_root" :style="mainheight">
                    <transition mode="out-in">
                        <div v-if="leftchose == '1'">
                            <div class="main" :style="mainheight">
                                <el-row class="title-col">
                                    <span>我的文档</span>
                                </el-row>
                                <el-row class="btn-col">

                                    <el-col :xs="12" :sm="12" :md="8" :lg="3" :xl="3" style="padding: 0 10px;">
                                        <el-button class="topbtn creatbtn" @click="createDoc">新建文档</el-button>

                                    </el-col>
                                    <el-col :xs="12" :sm="12" :md="8" :lg="3" :xl="3" style="padding: 0 10px;">
                                        <el-button class="topbtn">导入文档</el-button>
                                    </el-col>
                                    <el-col :span="17"></el-col>
                                </el-row>
                                <el-row class="main-col">
                                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" class="docitem"
                                        v-for="(docitem,index) in doclist">
                                        <el-card class="docitem-card" :body-style="cardstyle" shadow="hover" @click.native="goEditpage(docitem.id)">

                                            <el-col :span="4" style="height:auto">
                                                <el-image class="docimg">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="19" style="height:auto">
                                        <el-card class="docitem-card" :body-style="cardstyle" shadow="hover">

                                            <el-col :span="4" style="height:auto"
                                                @click.native="goEditpage(docitem.id)">
                                                <el-image class="docimg">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="19" style="height:auto"
                                                @click.native="goEditpage(docitem.id)">
                                                <el-col :span="24" class="card-docname">
                                                    <span>{{docitem.mdName}}</span>
                                                </el-col>
                                                <el-col :span="24" class="card-docinfo">
                                                    <span>上次更新时间：{{docitem.updateTime}}</span>
                                                </el-col>

                                            </el-col>
                                            <el-col :span="1" style="height:auto;">
                                                <el-dropdown trigger="click" placement="bottom-end" size="medium"
                                                    @command="docmanage">
                                                    <i class="el-icon-more el-dropdown-link"></i>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item
                                                            @click.native="dialogrenameVisible = true;renameDialogdata.docid=doclist[index].id">
                                                            重命名</el-dropdown-item>
                                                        <el-dropdown-item @click.native="openMemberList(index)">权限管理
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>导出</el-dropdown-item>
                                                        <el-dropdown-item divided style="color: red;"
                                                            @click.native="deleteDoc(index)">
                                                            删除
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>
                                            </el-col>



                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                        <div v-if="leftchose == '2'">
                            <div class="main">

                            </div>
                        </div>
                        <div v-if="leftchose == '2'">
                            <div class="main" :style="mainheight">
                                <el-row class="title-col">
                                    <span>通知</span>
                                </el-row>
                                <el-row class="main-col">
                                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" class="docitem"
                                        v-for="docitem in doclist">
                                        <el-card class="docitem-card" :body-style="cardstyle" shadow="hover">

                                            <el-col :span="4" style="height:auto">
                                                <el-image class="docimg">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="19" style="height:auto">
                                                <el-col :span="24" class="card-docname">
                                                    <span>{{docitem.docname}}</span>
                                                </el-col>
                                                <el-col :span="24" class="card-docinfo">
                                                    <span>{{docitem.docinfo}}</span>
                                                </el-col>

                                            </el-col>
                                            <el-col :span="1" style="height:auto;">
                                                <el-dropdown trigger="click" placement="bottom-end" size="medium"
                                                    @command="docmanage">
                                                    <i class="el-icon-more el-dropdown-link"></i>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>重命名</el-dropdown-item>
                                                        <el-dropdown-item @click.native="openMemberList">权限管理
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>导出</el-dropdown-item>
                                                        <el-dropdown-item divided style="color: red;">删除
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>
                                            </el-col>



                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                        <div v-if="leftchose == '3'">
                            <div class="main">
                            <div class="main" :style="mainheight">
                                <el-row class="title-col">
                                    <span>回收站</span>
                                </el-row>
                                <el-row class="btn-col">

                                    <el-col :span="3" style="padding: 0 10px;">
                                        <el-button class="topbtn creatbtn">清空回收站</el-button>
                                        <el-button class="topbtn creatbtn" @click="clearRe">清空回收站</el-button>

                                    </el-col>
                                    <el-col :span="17"></el-col>
                                </el-row>
                                <el-row class="main-col">
                                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" class="docitem"
                                        v-for="redocitem in recycleddoclist">
                                        v-for="(redocitem,index) in recycleddoclist">
                                        <el-card class="docitem-card" :body-style="cardstyle" shadow="hover">

                                            <el-col :span="4" style="height:auto">
                                                <el-image class="docimg">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="19" style="height:auto">
                                                <el-col :span="24" class="card-docname">
                                                    <span>{{redocitem.mdName}}</span>
                                                </el-col>
                                                <el-col :span="24" class="card-docinfo">
                                                    <span>{{redocitem.updateTime}}</span>
                                                </el-col>

                                            </el-col>
                                            <el-col :span="1" style="height:auto;">
                                                <el-dropdown trigger="click" placement="bottom-end" size="medium">
                                                    <i class="el-icon-more el-dropdown-link"></i>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item @click.native="reDoc(index)">还原
                                                        </el-dropdown-item>
                                                        <el-dropdown-item divided style="color: red;">彻底删除
                                                        <el-dropdown-item divided style="color: red;" @click.native="actuallydelete(index)">彻底删除
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>
                                            </el-col>



                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                        <div v-if="leftchose == '4'">
                            <div class="main" :style="mainheight">
                                <el-row class="title-col">
                                    <span>搜索结果</span>
                                </el-row>
                                <el-row class="main-col" style="margin-top:20px">
                                    <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" class="docitem"
                                        v-for="(docitem,index) in serchedDoc">
                                        <el-card class="docitem-card" :body-style="cardstyle" shadow="hover">

                                            <el-col :span="4" style="height:auto"
                                                @click.native="goEditpage(docitem.id)">
                                                <el-image class="docimg">
                                                </el-image>
                                            </el-col>
                                            <el-col :span="19" style="height:auto"
                                                @click.native="goEditpage(docitem.id)">
                                                <el-col :span="24" class="card-docname">
                                                    <span>{{docitem.mdName}}</span>
                                                </el-col>
                                                <el-col :span="24" class="card-docinfo">
                                                    <span>上次更新时间：{{docitem.updateTime}}</span>
                                                </el-col>

                                            </el-col>
                                            <el-col :span="1" style="height:auto;">
                                                <el-dropdown trigger="click" placement="bottom-end" size="medium"
                                                    @command="docmanage">
                                                    <i class="el-icon-more el-dropdown-link"></i>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item
                                                            @click.native="dialogrenameVisible = true;renameDialogdata.docid=doclist[index].id">
                                                            重命名</el-dropdown-item>
                                                        <el-dropdown-item @click.native="openMemberList(index)">权限管理
                                                        </el-dropdown-item>
                                                        <el-dropdown-item>导出</el-dropdown-item>
                                                        <el-dropdown-item divided style="color: red;"
                                                            @click.native="deleteDoc(index)">
                                                            删除
                                                        </el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown>
                                            </el-col>



                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </transition>
                </el-main>
            </el-container>
        </el-container>
        <el-dialog :visible.sync="membercheckifshow" center top="10vh" width="40%" @closed="clearmemberDialogDate">
            <h1 slot="title">{{nowShowMemberDialogdata.mdname}}</h1>
            <el-row>
                <el-col :span="24" style="height:auto">
                    <el-input placeholder="请输入要查询的用户的手机号码/邮箱/用户名" v-model="searchinput" prefix-icon="el-icon-search"
                        @input="searchMember" @focus="{{ifaddmember = true}}">
                    </el-input>
                </el-col>
                <transition mode="out-in">


                    <div v-if="ifaddmember == false">
                        <el-col :span="24" style="height:auto" class="memberdialog">
                            <span class="memberlist-title">协作人员</span>
                            <div class="memberlist">
                                <el-row class="memberlist-item" v-for="member in nowShowMemberDialogdata.mdmemberlist">
                                    <el-col :span="2" style="height:auto">
                                        <el-image
                                            style="height: 50px;width:50px;border:1px solid #cdcdcd;border-radius:25px;">
                                        </el-image>
                                    </el-col>
                                    <el-col :span="20" style="height:auto">
                                        <div class="memberlist-item-name">
                                            <span> {{member.name}}</span>
                                            <span> {{member.tel}}</span>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-col>
                        <el-col :span="24" style="height:auto;padding:0 200px;">
                            <el-button class="topbtn creatbtn" style="line-height: 1;" @click="{{ifaddmember = true}}">
                                添加协作人员
                            </el-button>
                        </el-col>
                    </div>

                    <div v-if="ifaddmember == true">

                        <el-col :span="24" style="height:auto" class="memberdialog">
                            <span class="memberlist-title">搜索结果</span>
                            <div class="memberlist">
                                <el-row class="memberlist-item" v-for="member in searchmember">
                                    <el-col :span="2" style="height:auto">
                                        <el-image
                                            style="height: 50px;width:50px;border:1px solid #cdcdcd;border-radius:25px;">
                                        </el-image>
                                    </el-col>
                                    <el-col :span="20" style="height:auto">
                                        <div class="memberlist-item-name">
                                            <span> {{member.name}}</span>
                                            <span> {{member.tel}}</span>
                                            <span>{{member.email}}</span>

                                            <el-button class="topbtn memberaddbtn">邀请</el-button>

                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-col>
                        <el-col :span="24" style="height:auto;padding:0 200px;">
                            <el-button class="topbtn creatbtn" style="line-height: 1;" @click="{{ifaddmember = false}}">
                                返回
                            </el-button>
                        </el-col>

                    </div>
                </transition>
            </el-row>

        </el-dialog>
        <el-dialog title="文档重命名" :visible.sync="dialogrenameVisible" width="30%">


            <el-input v-model="renameDialogdata.newDocname" placeholder="请输入新的文档名" autocomplete="off"></el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="reNamedoc">取 消</el-button>
                <el-button type="primary" @click="reNamedoc">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#managerpage_root',
        data: {
            rooturl: 'http://monkeydoc.liadrinz.cn/',
            message: 'Hello Vue!',
            visible: false,
            docsearchtext: '',
            userinfo:{
                userid:'9',
                username:'',
                usertel:'',
                useremail:''
            },
            mainheight: {
                height: ''
            },
            rooturl: 'http://monkeydoc.liadrinz.cn/',
            message: 'Hello Vue!',
            visible: false,
            leftName: [
                {
                    iconclass: 'el-icon-tickets',
                    text: '我的文档',
                    value: '1'
                },
                {
                    iconclass: 'el-icon-bell',
                    text: '通知',
                    value: '2'
                },
                {
                    iconclass: 'el-icon-delete',
                    text: '回收站',
                    value: '3'
                }

            ],
            doclist: [],
            recycleddoclist: [],
            cardstyle: {
                padding: '0px'
            },
            leftchose: '1',
            testlist: '',
            membercheckifshow: false,
            nowShowMemberDialogdata: {
                mdname: '',
                mdmemberlist: [],
                mdid: ''
            },
            ifaddmember: false,
            searchmember: [],
            searchinput: '',
            dialogrenameVisible: false,
            renameDialogdata: {
                docid: '',
                newDocname: ''
            }
        },
        created: function () {
            axios.get(this.rooturl + 'rest/meta.json?')
                .then(res => {
                    var meta = res.data
                    for (var i = 0;i<meta.length-1;i++) {
                        var key = i
                        for (var j = Number(i + 1); j < meta.length; j++) {
                            if (meta[j].updateTime >= meta[key].updateTime) {
                                key = j
                            }
                        }
                        if (key != i) {
                            var x = meta[i]
                            meta[i] = meta[key]
                            meta[key] = x
                        }
                    }
                    for (var i in meta) {
                        if (!meta[i].recycled) {
                            var crtime = new Date(meta[i].createTime)
                            var uptime = new Date(meta[i].updateTime)
                            meta[i].createTime = crtime.toLocaleString()
                            meta[i].updateTime = uptime.toLocaleString()
                            this.doclist.push(meta[i])
                        } else if(meta[i].recycled) {
                            var crtime = new Date(meta[i].createTime)
                            var uptime = new Date(meta[i].updateTime)
                            meta[i].createTime = crtime.toLocaleString()
                            meta[i].updateTime = uptime.toLocaleString()
                            this.recycleddoclist.push(meta[i])
                        }

                    }
                    
                })
                .catch(function (error) {
                    console.log(error)
                })
        },
        methods: {
            getDoclist: function () {
                console.log(this.doclist)
                console.log(this.recycleddoclist)
            },
            token: '',
            searchDocinput:'',
            serchedDoc:[]
        },
        created: function () {
            // this.jugloginde();
            this.mainheight.height = document.body.clientHeight - 60 + "px";
            this.init();
        },
        mounted() {
            const that = this
            window.onresize = () => {
                return (() => {
                    this.mainheight.height = document.body.clientHeight - 60 + "px";
                })()
            }
        },
        methods: {
            async init() {
                var usrinfo = await axios.get(this.rooturl + 'rest/user/'+this.userinfo.userid)
                console.log(usrinfo.data)
                this.userinfo.username=usrinfo.data.userName
                this.userinfo.usertel=usrinfo.data.tel
                this.userinfo.useremail=usrinfo.data.email
                var res = await axios.get(this.rooturl + 'rest/metaToUser.json?userId='+this.userinfo.userid)
                var meta =[]
                for(var i in  res.data){
                    meta.push(res.data[i].refMeta)
                }
                for (var i = 0; i < meta.length - 1; i++) {
                    var key = i
                    for (var j = Number(i + 1); j < meta.length; j++) {
                        if (meta[j].updateTime >= meta[key].updateTime) {
                            key = j
                        }
                    }
                    if (key != i) {
                        var x = meta[i]
                        meta[i] = meta[key]
                        meta[key] = x
                    }
                }
                for (var i in meta) {
                    if (!meta[i].recycled) {
                        var crtime = new Date(meta[i].createTime)
                        var uptime = new Date(meta[i].updateTime)
                        meta[i].createTime = crtime.toLocaleString()
                        meta[i].updateTime = uptime.toLocaleString()
                        this.doclist.push(meta[i])
                    } else if (meta[i].recycled) {
                        var crtime = new Date(meta[i].createTime)
                        var uptime = new Date(meta[i].updateTime)
                        meta[i].createTime = crtime.toLocaleString()
                        meta[i].updateTime = uptime.toLocaleString()
                        this.recycleddoclist.push(meta[i])
                    }

                }
                this.getmetatouse()


            },
            async getmetatouse() {
                for (var i in this.doclist) {
                    var res = await axios.get(this.rooturl + 'rest/metaToUser.json?mdId=' + this.doclist[i].id)

                    var mtoulist = res.data;
                    var refUsers = [];
                    for (var j in mtoulist) {

                        var obj = {
                            id: mtoulist[j].userId,
                            userName: mtoulist[j].refUser.userName,
                            tel: mtoulist[j].refUser.tel,
                            email: mtoulist[j].refUser.email,
                            role: mtoulist[j].role
                        }
                        refUsers.push(obj)
                    }
                    this.doclist[i].refUsers = refUsers
                }
            },
            format() {
       
                    return this.doclist.length+"/30"
    
            },
            reformat() {
       
                    return this.recycleddoclist.length+"/50"

            },
            jugloginde() {
                if (window.localStorage.getItem("token") != null) {
                    this.token = window.localStorage.getItem("token");
                } else {
                    window.location.href = 'login.jsp';
                }
            },
            logout(){
                window.localStorage.removeItem("token");
                location.reload();
            },
            getDoclist: function () {
                console.log(this.doclist)
                console.log(this.recycleddoclist)

            },
            docmanage(command) {
                switch (command) {
                    case 'memberm': {
                        this.membercheckifshow = true
                        break;
                    }
                }
            },
            openMemberList(index) {
                this.nowShowMemberDialogdata.mdname = this.doclist[index].mdName
                for (var i in this.doclist[index].refUsers) {
                    var member = {
                        id: this.doclist[index].refUsers[i].id,
                        name: this.doclist[index].refUsers[i].userName,
                        tel: this.doclist[index].refUsers[i].tel
                    }
                    this.nowShowMemberDialogdata.mdmemberlist.push(member)
                }
                this.membercheckifshow = true

            },
            clearmemberDialogDate() {
                this.ifaddmember = false
                this.searchinput = ''
                this.nowShowMemberDialogdata.mdname = ''
                this.nowShowMemberDialogdata.mdmemberlist = []
                this.nowShowMemberDialogdata.mdid = ''
                this.searchmember = []
            },
            async searchMember(e) {
                this.$forceUpdate()
                this.searchmember = []
                var res1 = await axios.get(this.rooturl + 'rest/user.json?tel=' + this.searchinput)
                var res2 = await axios.get(this.rooturl + 'rest/user.json?email=' + this.searchinput)
                var res3 = await axios.get(this.rooturl + 'rest/user.json?userName=' + this.searchinput)
                var userlist = [].concat(res1.data, res2.data, res3.data)
                if (userlist.length != 0) {
                    for (var i in userlist) {
                        var member = {
                            id: userlist[i].id,
                            name: userlist[i].userName,
                            tel: userlist[i].tel,
                            email: userlist[i].email
                        }
                        this.searchmember.push(member)
                    }
                }
            },
            searchDoc(e){
                
                this.$forceUpdate()
                this.serchedDoc =[]
                this.leftchose ='4'
                for(var i in this.doclist){
                    if(this.doclist[i].mdName.search(this.searchDocinput) !=-1){
                        this.serchedDoc.push(this.doclist[i])
                    }
                }
        
            },
            actuallydelete(index){
                this.$confirm('是否彻底删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete(this.rooturl + 'rest/meta/' + this.recycleddoclist[index].id )
                        .then(res => {
                            console.log(this.rooturl + 'rest/meta/' + this.recycleddoclist[index].id);
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error)
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            deleteDoc(index) {
                this.$confirm('是否删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.put(this.rooturl + 'rest/meta/' + this.doclist[index].id + '?recycled=true')
                        .then(res => {
                            console.log(this.rooturl + 'rest/meta/' + this.doclist[index].id + '?recycled=true');
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error)
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            reDoc(index) {
                this.$confirm('是否还原该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.put(this.rooturl + 'rest/meta/' + this.doclist[index].id + '?recycled=false')
                        .then(res => {
                            console.log(this.rooturl + 'rest/meta/' + this.doclist[index].id + '?recycled=false');
                    axios.put(this.rooturl + 'rest/meta/' + this.recycleddoclist[index].id + '?recycled=false')
                        .then(res => {
                            console.log(this.rooturl + 'rest/meta/' + this.recycleddoclist[index].id + '?recycled=false');
                            location.reload();
                        })
                        .catch(function (error) {
                            console.log(error)
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消还原'
                    })
                })
            },
            reNamedoc() {
                axios.put(this.rooturl + 'rest/meta/' + this.renameDialogdata.docid + '?mdName=' +this.renameDialogdata.newDocname)
                axios.put(this.rooturl + 'rest/meta/' + this.renameDialogdata.docid + '?mdName=' + this.renameDialogdata.newDocname)
                    .then(res => {
                        console.log(this.rooturl + 'rest/meta/' + this.renameDialogdata.docid + '?mdName=' + this.renameDialogdata.newDocname);
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
                this.dialogrenameVisible = false
            },
            goEditpage(index){
                window.location.href='DocEditPage.html?docid='+index;
            goEditpage(index) {
                window.location.href = 'DocEditPage.html?docid=' + index;
            },
            clearRe(){
                this.$confirm('正在清空回收站, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.clear()
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消清空'
                    })
                })
                
            },
            async clear(){
                for(var i in this.recycleddoclist){
                   res = await axios.delete(this.rooturl + 'rest/meta/' + this.recycleddoclist[i].id )
                }
                location.reload();
            },
            createDoc() {
                var requestbody = {
                    "userId": 9,
                    "mdName": "新建文档"
                }
                axios.post(this.rooturl + 'mvc/document/createDoc', requestbody)
                    .then(res => {
                        console.log(res)
                        location.reload();
                    })
                    .catch(
                        function (error) {
                            console.log(error)
                        }
                    )
            }
        }
    })
</script>

</html>